# IntelliJ IDEA
.idea
*.iml

# VSCode
*.vscode

# OS X files
.DS_Store

# IPython Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

videoalignment.egg-info/